<!-- <section class="grid grid-cols-2 gap-4 place-content-stretch justify-between">
    <div class="flex flex-col min-w-fit h-56 p-2 m-2" *ngFor="let project of allProject">
        <img src={{project.img}} />
        <h2>{{project.name}}</h2>
        <h4>{{project.summary}}</h4>
        <h4>{{project.carriedOut}}</h4>
    </div>
</section> -->

<div
    class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-2">
    <article *ngFor="let project of allProject" class="
    flex max-w-full min-w-min flex-col items-start justify-start
    border-4 rounded-lg rounded-tl-xl rounded-tr-xl pl-1
    shadow-2xl shadow-rose-500">
        <div class="grid lg:grid-cols-2">
            <div class="grid items-center gap-x-4 text-xs">
                <div class="flex items-center">

                    <time datetime="2020-03-16" class="text-gray-500">{{project.carriedOut}}</time>
                    <p
                        class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
                        {{project.theme}}
                    </p>
                </div>
                <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                    <a href={{project.link}}>
                        Name: {{project.name}}
                    </a>
                </h3>
            </div>
            <img src={{project.img}} class="rounded-xl w-fit" />
        </div>
        <div class="grid grid-cols-1 w-full group max-w-full">
            <div class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                <h3 class="text-sm font-semibold">Summary</h3>
                {{project.summary}}
            </div>
            <br />
            <div class="flex justify-center">
                <button type="button" id="open-modal" (click)="openModal(project)"
                    class=" bg-pink-500 hover:bg-pink-700 text-white font-bold py-1 px-4 rounded mb-3">
                    About
                </button>
            </div>
            <!-- inicio de modal -->
            <app-modal-project id="project-modal" class={{project.viewAbout}} [projectName]="project.name"
                [projectAbout]="project.about" [projectTeam]="project.team" [projectClose]="closeModal(project)" />
            <!-- fin de modal -->
        </div>
    </article>
</div>