<nav class="flex items-center justify-between p-2 lg:px-6 w-screen" aria-label="Global">
  <!-- breve presentación -->
  <div className="flex justify-between items-center">
    <div class="flex md:flex-col p-4">
      <span className="font-semibold text-xl dark:text-gray-100">
        {{userData.name}}
      </span>
      <span className="text-base font-light text-gray-500 dark:text-gray-300">
        {{userData.designation}}
      </span>
    </div>
  </div>
  <!-- rutas -->
  <div class="hidden lg:flex lg:gap-x-12 p-4">
    <a href="/" class="{{styleButtonHome}}">Home</a>
    <a href="/about" class="{{styleButtonAbout}}">About</a>
  </div>
  <!-- probando poner iconos -->
  <!-- <div class="hidden lg:flex lg:flex-1 lg:justify-end">
    iconitos jeje  -->
    <!-- <a href={userData.socialLinks.linkedin} className="text-base font-normal text-gray-600 dark:text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        className="bi bi-linkedin h-5 w-5" viewBox="0 0 16 16">
      </svg>
    </a>
    <a href=""><span></span></a>
    <a href=""><span></span></a>
    <a href=""><span></span></a>
    <a href=""><span></span></a> -->
<!--   </div> -->
</nav>
<!--  -->
<router-outlet />

<footer class="flex flex-row justify-around px-4 py-3">
  <section class="p-4">
    <p>algo de texto</p>
    <p>algo de texto</p>
    <p>algo de texto</p>
    <p>algo de texto</p>
  </section>
  <section class="p-4">
    <p>algo de texto</p>
    <p>algo de texto</p>
    <p>algo de texto</p>
    <p>algo de texto</p>
  </section>
  <section class="p-4">
    <p>algo de texto</p>
    <p>algo de texto</p>
    <p>algo de texto</p>
    <p>algo de texto</p>
  </section>
</footer>