<div class="relative z-20" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="font-semibold leading-6 text-gray-900
                            sm:text-base
                            lg:text-xl
                            xl:text-2xl
                            3xl:text-4xl
                            " id="modal-title">
                                {{project.name}}
                            </h3>
                            <div class="mt-2">
                                <p class="text-gray-500
                                sm:text-sm
                                lg:text-base
                                xl:text-lg
                                3xl:text-xl
                                ">
                                    {{project.about}}
                                </p>
                            </div>
                            <h3 class="mt-3 font-semibold
                            sm:text-base
                            lg:text-xl
                            xl:text-2xl
                            3xl:text-4xl
                            ">Team</h3>
                            <div class="flex -space-x-2 overflow-hidden h-auto">
                                <div class="mt-2" *ngFor="let user of project.team">
                                    <a href={{user.url}} target="_blank">
                                        <img class="inline-block rounded-full ring-2 ring-white transition-all 
                                        w-auto 
                                        sm:h-10 sm:hover:h-12
                                        lg:h-12 lg:hover:h-14
                                        xl:h-14 xl:hover:h-16
                                        3xl:h-16 3xl:hover:h-20
                                        " src={{user.img}} alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="button" (click)="projectClose()"
                        class="inline-flex w-full justify-center rounded-md bg-pink-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-pink-500 sm:ml-3 sm:w-auto">
                        Close Modal
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>