<!-- inicia secciones. contenido -->
<section class="grid grid-cols-2 gap-4 justify-between py-10">
    <!-- presentación -->
    <!-- desarrollo de estudios -->
    <section class="font-bold text-6xl" @viewDevelopment>
        <h1 class="bg-violet-700 animate-bounce h-16 hover:bg-violet-500 ">
            Full-Stack.
        </h1>
        <br />
        <h1 class="bg-purple-700 animate-bounce h-16 hover:bg-purple-500">
            Developer.
        </h1>
        <br />
        <h1 class="bg-fuchsia-700 animate-bounce h-16 hover:bg-fuchsia-500">
            Back-End.
        </h1>
        <br />
        <h1 class="bg-pink-700 animate-bounce h-16 hover:bg-pink-500">
            Front-End.
        </h1>
        <h3 class="animate-pulse text-2xl hover:text-3xl transition-all">
            follow in social media ↘
        </h3>
    </section>
    <!-- dar estilos para que tenga un alto que abarque casi la altura de la pagina con una imagen de fondo incluyendo la imagen proia -->
    <section class="grid grid-rows-2 justify-items-end pl-24">
        <!-- dividida en 2 secciones o 2 columnas -->
        <div class="justify-items-end">
            <!-- desarrollo de habilidades // definición de mi empleabilidad -->
            <!--  -->
            <!-- imagen en derecha junto con tecto inferior -->
            <img src="../../assets/img/profileIMG.jpg" alt="mi imagen" class="w-max h-auto">
        </div>
        <div class="text-xl font-mono" @viewData>
            <h1>⇧ I`m Lautaro Garcia.</h1>
            <h4 class="pl-11">Nickname Lechugaxthz.</h4>
            <h4 class="pl-20">Full-Stack Developer.</h4>
            <br />
            <!-- <h6 class="text-center">Passionated about Back-End y Front-End development.</h6> -->
        </div>
    </section>
</section>
<!-- texto relacional -->
<aside class="text-3xl font-light flex justify-center">Passionated about Back-End & Front-End development</aside>
<!-- contenido de experiencias -->
<section>

</section>